#panel-sobre{
    margin-top: 20px;

}

.titulo-depoimentos{
    background-color: #0275d8;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center

}

.form-radio{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.contato-select{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 0.8em;
}

.form-radio .radio:first-child{
    margin-top: 0px;
}