#panel-sobre{
    margin-top: 20px;

}

body, html{
height: 100%;
}

header {
    background-image: url(assets/img/castelo.jpg);
    background-size: cover;
    background-position: top center;
    height: 100%;
    position: relative;
}

header h1{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 6vw;
}


.topcasafina-banner {
    position: absolute;
    font-size: 3vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.8s;
    color: #fff;
    background-color: rgba(3, 3, 3, 0.5);
    padding: 15px;
    width: 80%;
    border-radius: 20px;
    text-align: center;
}

.topcasafina-banner a{
    color: #fff;
    text-decoration: none;
}
.titulo-depoimentos{
    background-color: #0275d8;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center

}

.form-radio{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    display: block;
    width: 100%;
    height: 60vw;
}
.contato-select{
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-size: 0.8em;
}

.form-radio .radio:first-child{
    margin-top: 0px;
}

footer{
    background-color: rgb(46, 45, 45);
    color: #fff;
    padding: 1em;
    margin-top: 10px;
}

footer address:last-child {
    margin-bottom: 0px;
}

@media(min-width: 768px){

      .projeto-responsivo-sobrenos{
         float: left;
         width: 47%;
      }

      .projeto-responsivo-sobrenos img{
          height: 30vw;
      }

      #panel-sobre{
          margin-top: 0px;
          margin-left: 20px;
      }

      .topcasafina-banner{
          top: 55%;
      }
      .titulo-depoimentos {
          width: 100%;
      }

      .container {
          width: 100%;
      }
      
      #carousel-example-generic img{
          height: 50vw;
      }

     

}
