#panel-sobre{
    margin-top: 20px;

}

.titulo-depoimentos{
    background-color: #0275d8;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center

}